* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.all {
  border: none;
  outline: none;
  padding: 29px;
  color: aquamarine;
  background-color: rgb(27, 35, 42);
  box-shadow: -8px -8px 15px rgba(27, 35, 42, 0.97),
    5px 5px 15px rgba(18, 16, 26, 0.686);
  border-radius: 7px;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

div.wrapper .input {
  width: 300px;
  height: 100px;
  background-color: azure;
  border: none;
  outline: none;
  padding: 10px;
  margin: 15px 0;
  border-radius: 7px;
  text-align: right;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container div.wrapper {
  background-color: rgb(27, 35, 42);
  padding: 20px ;
  border-radius: 7px;
  width: 340px;
}

.action {
  font-weight: 900;
  font-size: 0.9rem;
  border: none;
  color: rgb(41, 126, 187);
  background-color: rgb(27, 35, 42);
  box-shadow: -8px -8px 15px rgba(27, 35, 42, 0.97),
    5px 5px 15px rgba(18, 16, 26, 0.686);
  padding: 25px;
}

